<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>OTT 계정 공유 플랫폼</title>
</head>
<body>
  <h1>OTT 계정 공유 플랫폼</h1>

  <!-- 로그인 여부 확인 -->
  <div th:if="${session.user != null}">
    <p th:text="'환영합니다, ' + ${session.user.uid} + '님!'"></p>
    <a href="/rent-status" th:href="@{/rent/{userno}(userno=${session.user.userno})}">구독정보</a>
    <a href="/ott-list" th:href="@{/ott/{userno}(userno=${session.user.userno})}">플랫폼 구독</a>
    <form method="post" action="/logout">
      <button type="submit">로그아웃</button>
    </form>
  </div>

  <div th:unless="${session.user != null}">
    <div class="form-container">
      <h2>로그인</h2>
      <input type="text" placeholder="아이디 입력">
      <input type="password" placeholder="비밀번호 입력">
      <button type="submit">로그인</button>
    </div>
    <!-- navigation bar : 김재신 -->
    <div class="navigation-pill-list">
      <div class="navigation-pill-list2">
        <div class="navigation-pill">
    <a href="/login">로그인</a> </div>
        <div class="navigation-pill">
    <a href="/signup">회원가입</a> </div>
    <div class="navigation-pill">
    <a href="#" onclick="alert('로그인이 필요한 서비스입니다.'); return false;">플랫폼 구독</a>
  </div>
    <div class="navigation-pill">
    <a href="#" onclick="alert('로그인이 필요한 서비스입니다.'); return false;">구독정보</a>
    </div>  
  </div>
  </div>

</body>
</html>
